[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
selenium = "*"
pymongo = "*"
bs4 = "*"
numpy = "*"
tqdm = "*"
sqlalchemy = "*"
pandas = "*"
pymysql = "*"
jupyter = "*"
seaborn = "*"
dash = "*"
jupyter-dash = "*"
dash-html-components = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
